* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #BD0F06;
    padding-top: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin-top: 35px;
}

.navigation {
  display: flex;
  flex-direction: center;
  align-items: center;
  gap: 25px;
}

h1 {
    font-family: 'Megrim', system-ui;
    font-size: 3.5rem;
    font-style: normal;
    text-align: center;
    color: #582731;
    animation: bob 4s ease-in-out infinite;
}

span {
  font-family: "Smooch Sans", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  text-align: center;
  color: #582731;
}

#content.fade {
  animation: fade 0.6s ease;
}

#content {
  will-change: opacity, transform;
}


@keyframes fade {
  from { opacity: 0; transform: translateY(30px); }
  to   { opacity: 1; transform: translateY(0); }
}


p {
  font-family: "Smooch Sans", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  text-align: center;
  color: #642723;
}

@keyframes bob {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-8px);
    }
    100% {
      transform: translateY(0);
    }
  }

.albums {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  width: 80%;
  max-width: 1000px;
  margin-top: 60px;
  margin: 60px auto 0;
}

.album-card {
  background-color: #8A2520;
  border-radius: 18px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.album-card img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 12px;
}

.album-card h3 {
  font-family: "Smooch Sans", sans-serif;
  font-size: 1.2rem;
  color: #332120;
  text-align: center;
}

.album-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}

.album-display {
  display: flex;
  flex-direction: center;
  align-items: center;
  gap: 150px;
  margin-top: 50px;
}

.album-display img {
  width: 300px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 10px;
}

.tracklist {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.tracklist span {
  font-family: "Smooch Sans", sans-serif;
  font-size: 1.2rem;
  color: #332120;
  text-align: center;
}

#player {
  display: none;
}

#music-toggle {
  position: fixed;
  bottom: 20px;
  left: 20px;

  padding: 10px 20px;
  font-size: 1rem;
  background-color: #4d0500;
  color: #a3311a;
  border: none;
  border-radius: 20px;
  cursor: pointer;

  z-index: 1000;
}

#music-toggle:hover {
  opacity: 0.85;
}
